@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Itim&display=swap');

body {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ce4f2f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container {
    background-color: rgb(250, 241, 193);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-height: 90%;
    padding: 2em 1em;
    border: 3px solid #d66b50;
}

.info-container {
    background-color: rgb(255, 250, 223);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    border: 3px solid #d66b50;
    border-radius: 10px;
    width: 80%;
}

.picture-container {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

img {
    margin-bottom:  1em;
    border-radius: 50%;
    align-self: center;
    border: 3px solid #d66b50;
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 4vw;
}

p {
    font-size: 3.5vw;
}

hr {
    border: 1px dashed #ce4f2f;
    width: 80%;
    margin: 0.5em 0;
}

/* Large Mobile/Tablet */

@media (min-width: 500px) {
    .card-container {
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding-bottom: 5em;
    }

    .info-container {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        min-width: 384px;
    }

    hr {
        flex: 1;
    }

    .name-title {
        margin-right: 1em;
    }

    .phone-company {
        margin-left: 1em;
    }

    h1 {
        font-size: 4vw;
    }
    
    h2 {
        font-size: 3.5vw;
    }
    
    p {
        font-size: 3vw;
    }
    
}

/* Large Tablet/Desktop */

@media (min-width: 768px) {
    .card-container {
        flex-direction: row;
        width: 80%;
        max-width: 750px;
        gap: 1em;
        padding-left: 3em;
        padding-right: 3em;
        padding-top: 4.5em;
    }

    .info-container {
        flex-direction: column;
        align-items: center;
        min-width: 0;
        width: 60%;
    }

    .picture-container {
        max-width: 300px;
    }

    img {
        max-width: 308px;
        max-height: 283px;
    }

    hr {
        flex: none;
        width: 80%;
    }

    .name-title, .phone-company {
        margin: 0;
    }

    h1 {
        font-size: 3vw;
    }
    
    h2 {
        font-size: 2vw;
    }
    
    p {
        font-size: 2vw;
    }
    
}