@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Itim&display=swap');

body {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ce4f2f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    background-color: rgb(250, 241, 193);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-width: 238px;
    padding: 2em 1em;
    border: 3px solid #d66b50;
}

.info-container {
    background-color: rgb(255, 250, 223);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    border: 3px solid #d66b50;
    border-radius: 10px;
    width: 80%;
}

.picture-container {
    display: flex;
    justify-content: center;
}

img {
    margin-bottom:  1em;
    border-radius: 50%;
    border: 3px solid #d66b50;
}

h1 {
    font-size: min(5vw, 22px);
}

h2 {
    font-size: min(4vw, 19px);
}

p {
    font-size: min(3vw, 15px);
}

hr {
    border: 1px dashed #ce4f2f;
    width: 80%;
    margin: 0.5em 0;
}

/* Large Mobile/Tablet */

@media (min-width: 500px) {
    .card-container {
        flex-direction: column;
        padding-bottom: 5em;
    }

    .info-container {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        min-width: 384px;
    }

    hr {
        flex: 1;
    }

    .name-title {
        margin-right: 1em;
    }

    .phone-company {
        margin-left: 1em;
    }
    
}

/* Large Tablet/Desktop */

@media (min-width: 768px) {
    .card-container {
        flex-direction: row;     
        width: 80%;
        max-width: 750px;
        gap: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 4.5em;
    }

    .info-container {
        flex-direction: column;
        min-width: 0;
        width: 100%;
    }


    img {
        max-width: 308px;
        max-height: 283px;
    }

    hr {
        flex: none;
        width: 80%;
    }

    .name-title, .phone-company {
        margin: 0;
    }

    h1 {
        font-size: min(5vw, 25px);
    }
    
    h2 {
        font-size: min(4vw, 23px);
    }
    
    p {
        font-size: min(3vw, 18px);
    }
}